<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}商城登陆系统{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    {% block custom_css %}

    {% endblock %}
  </head>
<body>
{% block content %}

{% endblock content %}
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
{% block custom_js %}

{% endblock custom_js %}
</body>
</html>
